
# Playwright
node_modules/
test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
logs/combined.log
logs/error.log
state.*

.flaskenv*
!.env.project
!.env.vault
src/.DS_Store
src/.DS_Store
